section{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
  .image-containe-single{
    width: 60%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .image-container{
    margin-top: 40px;
    width: 49%; /* Each item takes 1/3 of the space with gaps considered */
    height: 750px;  /* Fixed height */
    overflow: hidden;
  }

  img{
      width: 100%;
      height: 100%;
  }

  .progress-load{
      width: 250px;
      margin-left: auto;
      margin-right: auto;
  }
  .progress-container {
    position: relative;
    height: 1px;
    background-color: grey;
    border-radius: 3px;
    margin: 10px auto;
    max-width: 250px;
    margin-top: 100px;
    font-family: Inter, sans-serif;
  }
  
  /* Progress bar itself */
  .progress-bar {
    height: 100%;
    background-color: white;
    border-radius: 3px;
    transition: width 0.3s ease-in-out;
  }
  
  /* Progress text */
  .progress-text {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: Inter, sans-serif;
    color: white;
  }
  
  button{
    cursor: pointer;
    padding: 10px 26px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    margin-left: 0px;
    color: white;
    margin-left: 27.5%;
  }
  button:hover{
    background-color: white;
    color: black;
  }

  @media only screen and (max-width: 1024px){
    .image-container{
        margin-top: 40px;
        width: 49%; /* Each item takes 1/3 of the space with gaps considered */
        height: 400px;  /* Fixed height */
        overflow: hidden;
    }
    .image-containe-single{
        width: 100%;
    }
  }
  @media only screen and (max-width: 768px){
    section{
        display: block;
    }
    .image-containe-single{
        width: 100%;
        height: 500px;
    }
    .image-container{
        width: 100%;
        height: 500px;
    }
  }
  @media only screen and (max-width: 600px){
    section{
        display: block;
    }
    .image-container{
        margin-top: 40px;
        width: 100%; /* Each item takes 1/3 of the space with gaps considered */
        height: 400px;  /* Fixed height */
        overflow: hidden;
    }
    .image-containe-single{
        width: 100%;
        height: 400px;
    }
  }