body{
    margin: 0px;
    padding: 0px;
    background-color: #231d1c;
}
@font-face {
    font-family: 'LeagueGothic';
    src: url('./assets/LeagueGothic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
